header{
    margin-bottom: 25px;
    .logo{
        img{
            width: 160px;
        }
    }
    .tools{
        .pi{
            margin-right: 10px;
        }
        padding-top: 30px;
    }
    .search{
        padding-top: 25px;
    }
    .navLabel{
        padding-top: 23px;
    }
}