<header>
    <div class="p-grid">
        <div class="p-col-3">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo">
            </div>
        </div>
        <div class="p-col-4 search">
            <shivam-product-search></shivam-product-search>
        </div>
        <div class="p-col-3 p-offset-1">
            <div class="navLabel">
                <app-nav></app-nav>
            </div>
        </div>
        <div class="p-col-1 tools">
            <i class="pi pi-user p-text-secondary" style="font-size: 1.3rem" ></i>
            <shivam-cart-icon></shivam-cart-icon>
        </div>
    </div>
</header>